<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spring Boot Thymeleaf Hello World Example</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />

<script type="text/javascript" th:src="@{/ckeditor/ckeditor.js}"></script>

</head>
<body>

	<div class="container">
		<div class="starter-template">
			<h1>Spring Boot Web Thymeleaf Example</h1>
		</div>
		<div>
			<form method="post" action="/print">
				<textarea name="editor1" id="editor1" rows="10" cols="80">
			              This is my textarea to be replaced with CKEditor.
			     </textarea>
		
				<script>
					CKEDITOR.replace('editor1');
				</script>
		
				<br />
				
				<button type="submit" name="test">Submit</button>
		
			</form>		
		</div>
	</div>

</body>
</html>